{%  if loginurl is defined %}<a href="{{ loginurl }}" target="_top">Login</a>{% endif %}
{%  if logouturl is defined %}<a href="{{ logouturl }}" target="_top">Logout</a>{% endif %}
Hello {{ name }}!
<ul>
{% for match in matches %}
{%  if match.kickoff > now %}
<li>{{ match.id }} : {{ match.getName() }} <a href="/predict/{{ match.id }}">predict</a></li>
{% endif %}
{% endfor %}
</ul>