{%  if loginurl is defined %}<a href="{{ loginurl }}" target="_top">Login</a>{% endif %}
{%  if logouturl is defined %}<a href="{{ logouturl }}" target="_top">Logout</a>{% endif %}
<pre>
Hello {{ name }}!
ID {{ match.id }} 
Match {{ match.getName() }} 

{% if predict is defined and predict %}
Prediction: {{ predict.data.home_goal }} - {{ predict.data.away_goal }}
{% else %}
<form method="post" action="/predict/{{ match.id }}" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <input type="submit" value="Predict"/>
</form>
<a href="/predict/{{ match.id }}">predict</a>
{% endif %}
<a href="/">match list</a>