<!DOCTYPE html>
<html lang="en">
<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# xpredict: http://ogp.me/ns/fb/xpredict#">
  <meta property="fb:app_id" content="111851335634283" />
  <meta property="og:type"   content="xpredict:soccermatch" />
  <meta property="og:url"    content="http://xpredict.xczimi.com/soccermatch/{{ match.id }}" />
  <meta property="og:title"  content="{{ match.getName() }}" />
  <meta property="og:image"  content="http://xpredict.xczimi.com/xpredict/images/xpredict.jpg" />
  <meta property="xpredict:home_team" content="http://xpredict.xczimi.com/soccerteam/{{ match.hometeam }}" />
  <meta property="xpredict:away_team" content="http://xpredict.xczimi.com/soccerteam/{{ match.awayteam }}" />
  <head prefix="og: http://ogp.me/ns# NAMESPACE: http://ogp.me/ns/apps/NAMESPACE#">
<title>xPredict SoccerMatch {{ match.getName() }}</title>
</head>
<body>
<h#>{{ match.name }}</h#>
</body>

</html>